.d5-dev-tool {
  &-no-items {
    color: #AFAFAF;
  }
}

.d5-dev-tool-overview {
  &-selected {
    .d5-dev-tool-overview-value {
      font-weight: bold;
    }
  }

  &-keypress {
    kbd {
      padding: 3px 10px;
      margin-right: 7px;
      border-radius: 3px;
      box-shadow: 0px 0px 4px #999;
      background: white;
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }

  &-shortcut {
    pre {
      padding: 0;
      margin: 0;
      font-weight: bold;
    }
  }

  &-view,
  &-breakpoint,
  &-attribute-state,
  &-selected,
  &-keypress,
  &-shortcut {
    display: flex;
    margin-bottom: 10px;

    h3 {
      margin-right: 20px;
      padding: 5px 0;
    }

    .d5-dev-tool-overview-value {
      height: 25px;
    }
  }
}

.d5-dev-tool-content-panel-wrapper {
  h3 {
    font-size: 16px;
    font-weight: bold;
    color: #6C2EB9;
  }

  h4 {
    font-size: 14px;
    font-weight: bold;
    color: #7a6595;

  }

  code {
    font-size: 12px;
  }

  .d5-dev-tool-panel-item-wrapper {
    margin-bottom: 35px;
  }

  .et-vb-object-renderer-value {
    background: #fafafa;
  }

  .et-vb-object-renderer-value-item-name {
    background: #efefef;
    padding: 3px 10px;
    border-radius: 4px;
    margin-bottom: 3px;
  }

  .et-vb-object-renderer-value-toggle {
    top: -21px;
    right: 10px;
  }

  .et-vb-object-renderer-value-item-value {
    padding-left: 10px;
    font-family: monospace;
  }

  .et-vb-object-renderer-value-item--number {
    display: flex;

    .et-vb-object-renderer-value-item-name,
    .et-vb-object-renderer-value-item-value {
      flex-grow: 1;
    }
  }
}

:root {
  --d5-dev-tool-global-module: #97d000;
}