// Content Panel.
$content-panel-nav-width: 120px;

.d5-dev-tool-content-panel-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  gap: 10px;

  &-nav {
    width: $content-panel-nav-width;
    display: flex;
    flex-direction: column;

    button {
      border: none;
      border-bottom: 1px solid #dfdfdf;
      border-right: 1px solid #dfdfdf;
      background: #f9f9f9;
      padding: 10px 15px;
      cursor: pointer;
      font-size: 12px;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background: #f4f4f4;
      }

      &.active {
        border-right: none;
        background: #ffffff;
      }
    }
  }
}

.d5-dev-tool-content-panels {
  width: calc(100% - $content-panel-nav-width);
}