.d5-dev-tool-content-panel {
  padding: 10px;
  display: block;

  pre {
      text-wrap: wrap;
      margin: 10px 10px 20px 20px;
      background-color: #4C5866;
      color: #88dfbe;
      font-family: monospace;
      font-weight: 700;
      padding: 20px 30px;
      font-size: 13px;
    }
}