/*!**********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/components/content-clipboard/style.scss ***!
  \**********************************************************************************************************************************************************************************************/
.d5-dev-tool-clipboard-items {
  display: flex;
  flex-direction: column-reverse;
}
.d5-dev-tool-clipboard-item {
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(240, 245, 249, 0.6);
  border-radius: 5px;
  font-size: 12px;
  position: relative;
}
.d5-dev-tool-clipboard-item:last-child {
  border: 2px solid #4c5866;
}
.d5-dev-tool-clipboard-item-type {
  display: inline-block;
  padding: 1px 10px;
  background-color: #4c5866;
  color: white;
  border-radius: 3px;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.d5-dev-tool-clipboard-item-type--modules {
  background-color: #29c4a9;
}
.d5-dev-tool-clipboard-item-type--moduleFieldAttribute {
  background-color: #2b87da;
}
.d5-dev-tool-clipboard-item-type--moduleGroupAttributes {
  background-color: #ff9232;
}
.d5-dev-tool-clipboard-item-type--moduleGroupTabAttributes {
  background-color: #6c2eb9;
}
.d5-dev-tool-clipboard-item-type--moduleAttributes {
  background-color: #ef5555;
}
.d5-dev-tool-clipboard-item-index {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 13px;
  font-weight: bold;
  color: #bfbfbf;
}
.d5-dev-tool-clipboard-item-origin {
  font-size: 12px;
  opacity: 0.8;
  margin: 10px 0 0;
}
.d5-dev-tool-clipboard-item-payload {
  padding: 10px 15px;
  margin: 10px 0;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.d5-dev-tool-clipboard-item-payload-item {
  margin-bottom: 10px;
}
.d5-dev-tool-clipboard-item-payload-item-title {
  font-weight: bold;
  display: block;
  margin-top: 15px;
  color: #000;
}
.d5-dev-tool-clipboard-item-payload-item-title:first-child {
  margin-top: 0;
}
/*!*************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/components/references-tree-view/style.scss ***!
  \*************************************************************************************************************************************************************************************************/
.et-vb-divi-devtools-tree-view .et-vb-divi-devtools-tree-view-item-title {
  padding: 10px 10px;
  background: #efefef;
  border-radius: 3px;
  margin-bottom: 5px;
  line-height: 1em;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}
.et-vb-divi-devtools-tree-view .et-vb-divi-devtools-tree-view-item-title:hover {
  background: #dfdfdf;
}
.et-vb-divi-devtools-tree-view .et-vb-divi-devtools-tree-view-item-list {
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  cursor: default;
}
.et-vb-divi-devtools-tree-view .et-vb-divi-devtools-tree-view-search-input {
  background-color: #efefef;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  border-color: #aaaaaa;
  font-size: 12px;
}
.et-vb-divi-devtools-tree-view .et-vb-divi-devtools-tree-view-warning {
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ffa831;
  font-size: 12px;
  background-color: rgb(255, 244, 229);
  color: rgb(102, 60, 0);
}
/*!***********************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/components/modal/styles.scss ***!
  \***********************************************************************************************************************************************************************************/
.d5-dev-tool-no-items {
  color: #AFAFAF;
}

.d5-dev-tool-module .d5-dev-tool-module {
  padding: 0 0 0 20px;
}
.d5-dev-tool-module-meta {
  padding: 10px 10px;
  background: #efefef;
  border-radius: 3px;
  margin-bottom: 5px;
  line-height: 1em;
  position: relative;
}
.d5-dev-tool-module-state {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 10px;
  position: absolute;
  top: calc(100% + 10px);
  left: 0px;
  z-index: 10;
}
.d5-dev-tool-module-state span {
  padding: 5px;
  border-radius: 3px;
  margin: 20px 10px 10px 0;
  padding: 3px 10px;
  border: 1px solid;
  color: white;
}
.d5-dev-tool-module-props {
  padding: 30px 20px 20px;
  margin: 10px 0;
  background: #dfdfdf;
  border-radius: 5px;
}
.d5-dev-tool-module--hovered > .d5-dev-tool-module-meta {
  background-color: #4c5866;
  color: white;
}
.d5-dev-tool-module--selected > .d5-dev-tool-module-meta {
  background-color: #29c4a9;
  color: white;
}
.d5-dev-tool-module--dragged > .d5-dev-tool-module-meta {
  background-color: #2b87da;
  color: white;
}
.d5-dev-tool-module--right-clicked > .d5-dev-tool-module-meta {
  background: #ff9232;
  color: white;
}
.d5-dev-tool-module--on-clipboard > .d5-dev-tool-module-meta {
  background-color: #6c2eb9;
  color: white;
}
.d5-dev-tool-module--edited > .d5-dev-tool-module-meta {
  background-color: #ef5555;
  color: white;
}
.d5-dev-tool-module--state-hovered {
  background-color: #4c5866;
}
.d5-dev-tool-module--state-selected {
  background-color: #29c4a9;
}
.d5-dev-tool-module--state-dragged {
  background-color: #2b87da;
}
.d5-dev-tool-module--state-right-clicked {
  background: #ff9232;
}
.d5-dev-tool-module--state-on-clipboard {
  background-color: #6c2eb9;
}
.d5-dev-tool-module--state-edited {
  background-color: #ef5555;
}
.d5-dev-tool-module--state-global {
  background-color: #97d000;
}
.d5-dev-tool-module--name {
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}
.d5-dev-tool-module--id {
  font-size: 11px;
  display: inline-block;
  opacity: 0.8;
  vertical-align: top;
  cursor: pointer;
}
.d5-dev-tool-module--id:hover {
  text-decoration: underline;
}
.d5-dev-tool-module--children {
  border-left: 2px dotted #efefef;
}

.d5-dev-tool-overview h3 {
  font-size: 14px;
  font-weight: bold;
  color: #6C2EB9;
}
.d5-dev-tool-overview-selected .d5-dev-tool-overview-value {
  font-weight: bold;
}
.d5-dev-tool-overview-keypress kbd {
  padding: 3px 10px;
  margin-right: 7px;
  border-radius: 3px;
  box-shadow: 0px 0px 4px #999;
  background: white;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
}
.d5-dev-tool-overview-shortcut pre {
  padding: 0;
  margin: 0;
  font-weight: bold;
}
.d5-dev-tool-overview-view, .d5-dev-tool-overview-breakpoint, .d5-dev-tool-overview-attribute-state, .d5-dev-tool-overview-selected, .d5-dev-tool-overview-keypress, .d5-dev-tool-overview-shortcut {
  display: flex;
  margin-bottom: 10px;
}
.d5-dev-tool-overview-view h3, .d5-dev-tool-overview-breakpoint h3, .d5-dev-tool-overview-attribute-state h3, .d5-dev-tool-overview-selected h3, .d5-dev-tool-overview-keypress h3, .d5-dev-tool-overview-shortcut h3 {
  margin-right: 20px;
  padding: 5px 0;
}
.d5-dev-tool-overview-view .d5-dev-tool-overview-value, .d5-dev-tool-overview-breakpoint .d5-dev-tool-overview-value, .d5-dev-tool-overview-attribute-state .d5-dev-tool-overview-value, .d5-dev-tool-overview-selected .d5-dev-tool-overview-value, .d5-dev-tool-overview-keypress .d5-dev-tool-overview-value, .d5-dev-tool-overview-shortcut .d5-dev-tool-overview-value {
  height: 25px;
}

.et-vb-dev-tool-script {
  margin-top: 20px;
}
.et-vb-dev-tool-script:first-child {
  margin-top: 0;
}

.d5-dev-tool-global-module-item {
  margin-bottom: 40px;
  border: 3px solid #97d000;
  padding: 15px;
  border-radius: 10px;
}
.d5-dev-tool-global-module-item .d5-dev-tool-module-state {
  display: none;
}

.et-vb-modal-panel[data-id=saved] h3 {
  margin: 20px 20px 0;
}
.et-vb-modal-panel[data-id=saved] pre {
  text-wrap: wrap;
  padding: 20px;
  background-color: #efefef;
  margin: 10px 10px 20px 20px;
}

.et-devtool-content-panel-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  gap: 10px;
}
.et-devtool-content-panel-wrapper-nav {
  width: 120px;
  display: flex;
  flex-direction: column;
}
.et-devtool-content-panel-wrapper-nav button {
  border: none;
  border-bottom: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  background: #f9f9f9;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 12px;
}
.et-devtool-content-panel-wrapper-nav button:last-child {
  border-bottom: none;
}
.et-devtool-content-panel-wrapper-nav button:hover {
  background: #f4f4f4;
}
.et-devtool-content-panel-wrapper-nav button.active {
  border-right: none;
  background: #ffffff;
}

.et-devtool-content-panels {
  width: calc(100% - 120px);
}

.et-devtool-content-panel {
  padding: 10px;
  display: block;
}
